body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

circle:hover{
  fill: cyan;
}

.Resizer {
  background-color: rgba(63, 81, 181, 0.1);
  transition: all 0.3s ease;
  z-index: 50 !important;
}
 
.Resizer:hover {
  background-color: rgba(31, 50, 216, 0.589)
}
 
.Resizer.vertical {
  width: 6px;
  cursor: col-resize;
}
 
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}